<div class="row">
<div class="card status">

  <div class="card-header">
    <strong>ESTADO</strong></div>

  <div class="card-body">


      <div class="form-group">
        <strong>{{status[0] }} </strong>
        <label for="contagiados">      Contagiados</label>
      </div>

      <div class="form-group">
        <label>{{status[1]}}</label>
        <label>Recuperados</label>
      </div>

      <div class="form-group">
        <label>{{status[2]}}</label>
        <label>Muertos</label>
      </div>

      <div class="form-group">
        <label>{{status[3]}}</label>
        <label>Activos</label>
      </div>

      <div class="form-group">
        <label>{{status[4]}}</label>
        <label for="contagiados">Incremento diario</label>
      </div>
  </div>
</div>
</div>
<div class="row">
  <div class="card status">

    <div class="card-header">
      <strong>PAÍSES MÁS AFECTADOS</strong></div>

    <div class="card-body">


        <div class="form-group">
          <strong> Costa Rica </strong>
          <label for="contagiados"> 138718</label>
        </div>

        <div class="form-group">
          <strong> Costa Rica </strong>
          <label for="contagiados"> 138718</label>
        </div>

        <div class="form-group">
          <strong> Costa Rica </strong>
          <label for="contagiados"> 138718</label>
        </div>

    </div>
  </div>

</div>
